[Unit]
Requires=--SERVICE_DEF_NAME--
After=--SERVICE_DEF_NAME--

[Mount]
What=--LUKS_DEVICE--
Where=--LUKS_MOUNT_POINT--
Type=xfs
Options=defaults,noatime

[Install]
WantedBy=multi-user.target